<mat-toolbar color="primary" class="footer-toolbar">
    <div class="footer-content">
        <div class="social-links">
            <!-- <a href="https://www.facebook.com" target="_blank" aria-label="Facebook">
                <mat-icon>facebook</mat-icon>
            </a>
            <a href="https://www.twitter.com" target="_blank" aria-label="Twitter">
                <mat-icon>twitter</mat-icon>
            </a>
            <a href="https://www.instagram.com" target="_blank" aria-label="Instagram">
                <mat-icon>instagram</mat-icon>
            </a>
            <a href="https://www.linkedin.com" target="_blank" aria-label="LinkedIn">
                <mat-icon>linkedin</mat-icon>
            </a> -->
        </div>
        <div class="spacer"></div>
        <span>&copy; 2024 Prince</span>
    </div>
</mat-toolbar>