<mat-toolbar color="primary">
  <a class="pagelogo" href="/">
    <img class="logo" src="/assets/images/page_logo.jpeg" alt="Profile Picture">
    <!-- <span>&#123;</span>ExploreWithPrince<span>&#125;</span> -->
  </a>



  <a mat-button class="header__link external-link" routerLink="">Home</a>


  <a mat-button class="header__link external-link" routerLink="gallary">Gallery</a>

  <a mat-button class="header__link external-link">
    Video
  </a>
  <a mat-button class="header__link external-link">
    Profile
  </a>

</mat-toolbar>