<mat-toolbar color="primary">
  <a class="pagelogo" href="/">
    <img class="logo" src="/assets/images/page_logo.jpeg" alt="Profile Picture">
  </a>

  <span class="spacer"></span>

  <button mat-button class="mobile-menu-button" aria-label="Menu" (click)="toggleMenu()">
    <mat-icon>menu</mat-icon>
  </button>
  <!-- <button mat-button class="mobile-menu-button" aria-label="Menu" (click)="openMenu()">
    <mat-icon>menu</mat-icon>
  </button> -->

  <div class="nav-links" [class.mobile-active]="isMenuOpen">
    <a mat-button class="header__link external-link" routerLink="">Home</a>
    <a mat-button class="header__link external-link" routerLink="gallery">Gallery</a>
    <a mat-button class="header__link external-link" routerLink="video">Video</a>
    <a mat-button class="header__link external-link" routerLink="profile">Profile</a>

  </div>
</mat-toolbar>