

.mat-toolbar {
  background-color: #000000; /* Change this to your desired background color */
  font-family: fangsong;
}

// .mat-button {
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   justify-content: center;
//   color: white; /* Change icon color */
//   text-decoration: none; /* Remove underline */
//   padding: 8px; /* Adjust padding as needed */
//   font-size: larger;
// }

// .icon-label {
//   font-size: 20px; /* Adjust label font size */
// }
span {
  color: white;
  font-weight: 400;
}
// mat-icon {
//   color: aliceblue;
// }


.mat-toolbar {
  // background-color: #4CAF50; /* Change this to your desired background color */
  display: flex; /* Use flexbox */
  justify-content:start; /* Distribute items evenly */
  align-items: center; /* Center items vertically */
  gap: 70px;

}

// .mat-button {
//   color: white; /* Change icon color */
//   text-decoration: none; /* Remove underline */
//   transition: background 0.5s ease;

// }
// .mat-button:hover {
//   color: #f3c705;
// }

.icon-label {
  font-size: 20px; /* Adjust label font size */
}
a {
  transition: background 0.5s ease;
  // background: #fff;
  color: white;
}
a:hover {
  color: #f3c705;
}
