

<mat-toolbar color="primary">
  <span >ExploreWithPrince</span>

  <span class="spacer"></span>
  <a mat-button routerLink="" >
    <!-- <mat-icon>home</mat-icon> -->
    <span class="icon-label">Home</span>
  </a>
 
  <a mat-button routerLink="gallary" >
    <!-- <mat-icon>photo_library</mat-icon> -->
    <span class="icon-label">Gallery</span>
  </a>
  <a mat-button  >
    <!-- <mat-icon>photo_library</mat-icon> -->
    <span class="icon-label">Video</span>
  </a>
  <a mat-button >
    <!-- <mat-icon>person</mat-icon> -->
    <span class="icon-label">Profile</span>
  </a>

  <span class="spacer"></span>
</mat-toolbar>
