// css for text logo
span {
  color: white;
  font-weight: 400;
}

.pagelogo {
  display: flex;
  text-decoration: none;
  font-size: 1em;
  justify-content: start;
  align-items: center;
  /* Adjust the size as needed */
  // color: inherit;

  /* To inherit the color from parent */

  // font-size: 28px;
  letter-spacing: 1.2px;
  background: var(--Title-Gradient, linear-gradient(90deg, #2fb756 -1.88%, #ebbf0d 104.56%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}

.pagelogo span {
  margin: 0 5px;
  /* Optional: Adjust spacing between text and curly braces */
}

// css for the top toolbar
.mat-toolbar {
  background-color: #000000;

}


// css for the toolbar action button
.header__link {
  color: #ffbd39;
  display: inline-block;
  padding: 5px 25px;
  border-radius: 30px;
  transition: ease-out 0.6s;
  cursor: pointer;
  font-weight: 300;
  text-shadow: 1px 1px 1px #1d1d1d;
  text-decoration: none;
  letter-spacing: 2px;
  font-family: system-ui;
  text-transform: uppercase;
}


.header__link:hover {
  color: black;
  text-shadow: none;
  box-shadow: inset 0 -80px 0 0 #f9b836;
}

.header__link:active {
  transform: scale(0.6);
}

// @media (max-width:1023px) {
//   .header__link {
//     color: #ffbd39;
//     display: inline-block;
//     padding: 5px 10px;
//     border: none !important;
//     outline: none;
//     transition: none;
//   }

// }

.header__link,
.header__nav-btn {
  font-size: 1.1rem;
}

.logo {
  width: 22rem;
  height: 20rem;
}


.spacer {
  flex: 1 1 auto;
}

.nav-links {
  display: flex;
  align-items: center;
}

.mobile-menu-button {
  display: none;
}

@media (max-width: 600px) {
  .nav-links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 56px;
    /* height of the toolbar */
    right: 0;
    background-color: #1b1c1d;
    /* Same as toolbar color */
    width: 100%;
    text-align: center;
    padding: 10px 0;
  }

  .nav-links.mobile-active {
    display: flex;
  }

  .mobile-menu-button {
    // display: block;
    color: #ffbd39;
    display: inline-block;
    padding: 5px 14px;
    border-radius: 30px;
    transition: ease-out 0.6s;
    cursor: pointer;
    text-decoration: none;
    position: absolute;

  }

  .mobile-menu-button:hover {
    color: black;
    text-shadow: none;
    box-shadow: inset 0 -80px 0 0 #f9b836;
    padding: 8px 16px;
    /* Adjust padding for smaller screens */
  }

  .mobile-menu-button:active {
    transform: scale(0.6);
  }

  .spacer {
    display: none;
  }
}



.spacer {
  flex: 1 1 auto;
}

.mobile-menu-button {
  display: none;
}

@media (max-width: 650px) {
  .mobile-menu-button {
    display: inline-block;
  }

  .header__link {
    display: none;
  }
}

/* Style for the dialog */
// .menu-dialog-container .mat-dialog-container {
//   padding: 0;
//   overflow: hidden;
//   border-radius: 0;
// }