<div>
  <div class="profile-container">
    <img class="profile-pic" src="/assets/images/prince_photo.JPG" alt="Profile Picture">
    <div class="bio-container">
      <h1 class="bio-heading">Prince Kumar Gupta</h1>
      <h2 class="designation">Software Enginner</h2>
      <p class="bio-description">UI enthusiast with experience in Angular 12+ Framework | Typescript | Node.js | JEST |
        APIs integration | GITHub</p>
    </div>

    <button mat-button class="action-button">linkdin</button>
    <button mat-button class="action-button">Github</button>
    <button mat-button class="action-button">Instrgram</button>

    <div class="row">
      <h1 class="big-4">Experience</h1>
      <div class="underline"></div>
    </div>

    <div class="card-content">
      <div class="resume-wrap">
        <span class="bio-heading">2024 - Present</span>
        <h2 class="designation"> Software Developer</h2>
        <span class="position">Tarento - Bengaluru</span>
        <p class="bio-description"> Currently Contributing to Sunbird ED Building Blocks, highly scalable open-source
          learning products, utilized by Diksha
          (https://diksha.gov.in/explore) as an adopter for the client Ekstep(https://ekstep.org/).<br>
          Tech-Stack - Front-End Development · Node.js · Angular 12+ · Typescript · JavaScript · Jest · Postman API ·
          HTML/CSS · GitHub ·
          Docker
        </p>
        <div class="Experience_active__BfpVO">
          <p>•
            Spearheaded the development of Sunbird ED Portal, employing Angular 12+, NodeJS, and Form APIs to create a
            scalable and user-friendly platform <br>•
            Analyzed business and functional requirements to engineer efficient technical solutions. <br>•
            Engineered key features for ED, transitioning hardcoded framework logic to framework-agnostic solutions,
            enabling
            broader application. <br>•
            Produced user-friendly technical documentation and architecture designs to streamline adoption by external
            stakeholders. <br>•
            Implemented rigorous unit tests using the Jest Framework to ensure robust code quality and reliability.<br>
            Managed and enhanced Angular libraries, ensuring alignment with security standards and compatibility with
            cutting-edge
            technologies.<br></p>
        </div>
      </div>

      <!-- <div class="card-content"> -->

      <div class="resume-wrap">
        <span class="bio-heading">2019 - 2022</span>
        <h2 class="designation"> Software Consultant</h2>
        <span class="position">Muraai Information Technologies, Bengaluru</span>
        <p class="bio-description"> Accounts Payable - An enterprise web application to automate the accounts payable
          process.<br>
          Tech-Stack - Angular 12+,Typescript, HTML, CSS, Flex layout, Angular Material design, MySQL, GIT,BPM
        </p>
        <div class="Experience_active__BfpVO">
          <p>•
            Spearheaded the development of SIMS(Supplier Invoice Mangement System) Portal, employing Angular 12+, BPM,
            and Form APIs to create a
            scalable and user-friendly platform <br>•
            Analyzed business and functional requirements to engineer efficient technical solutions. <br>•
            Implemented three way matching strategy to validate and verify an invoice. <br>•
            Taking an active role in developing and structuring our Single page application. <br>•
            Approval matrix implementation to resolve runtime process flow.<br>•
            Unit level testing on the process build, Debug and fixing the bugs.<br></p>
        </div>
        <!-- </div> -->
      </div>
    </div>

    <div class="row">
      <h1 class="big-4">Education</h1>
      <div class="underline"></div>
    </div>


    <div class="card-content">
      <div class="resume-wrap">
        <span class="bio-heading">Sambhram Institute of technology Bengaluru</span>
        <h2 class="designation"> August 2015 - May 2019</h2>
        <span class="position">BE CSE</span>
        <!-- <p class="mt-4"> Technologies, a top US-based software company, specializes in web apps, e-Learning, media,
        and design. We craft custom software solutions to enhance functionality and productivity across industries.
      </p>
      <ul>
        <li>Software Developer with 4.5+ years of experience</li>
        <li>Worked with Software Development Life Cycle (SDLC) and agile methodologies</li>
        <li>Lover of innovation and everything related to generating new knowledge</li>
        <li>Face problems with a smile and solve them as soon as possible</li>
        <li>Very calculated about the time I spend and work I do</li>
        <li>Expertise in Angular 12+ All versions, Javascript, Node JS and UI with Responsive Designs</li>
      </ul>
      <p></p> -->
      </div>

      <div class="resume-wrap">
        <span class="bio-heading">Rawat Public School Jaipur</span>
        <h2 class="designation"> April 2013 – April 2015</h2>
        <span class="position">Science 12th</span>
        <!-- <p class="mt-4"> Technologies, a top US-based software company, specializes in web apps, e-Learning, media,
                  and design. We craft custom software solutions to enhance functionality and productivity across industries.
                </p>
                <ul>
                  <li>Software Developer with 4.5+ years of experience</li>
                  <li>Worked with Software Development Life Cycle (SDLC) and agile methodologies</li>
                  <li>Lover of innovation and everything related to generating new knowledge</li>
                  <li>Face problems with a smile and solve them as soon as possible</li>
                  <li>Very calculated about the time I spend and work I do</li>
                  <li>Expertise in Angular 12+ All versions, Javascript, Node JS and UI with Responsive Designs</li>
                </ul>
                <p></p> -->
      </div>
    </div>
  </div>
  <div class="row justify-content-center mb-5 pb-3">
    <div class="col-md-7 heading-section text-center ftco-animate fadeInUp ftco-animated">
      <h1 class="big big-2">Project Inprogress</h1>
      <h2 class="mb-4">Project Inprogres.....</h2>
      <!-- <p>Below are the details to reach out to me!</p> -->
    </div>
  </div>
</div>