.bio-container {
  text-align: center;
  padding: 50px 0;
}

.bio-heading {
  font-size: 28px;
  letter-spacing: 1.2px;
  // background: var(--Title-Gradient, linear-gradient(90deg, #191818 -1.88%, #d9bd40 100.56%));
  // background-clip: text;
  // -webkit-background-clip: text;
  // -webkit-text-fill-color: transparent;
  background: var(--Title-Gradient, linear-gradient(90deg, #687f28 -1.88%, #6ab07b 90.56%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.bio-description {
  display: flex;
  justify-content: center;
  color: var(--dark_light, #847798);
  font-size: 20px;
  font-weight: 400;
  line-height: 170%;
}

/* Media query for mobile devices */
@media (max-width: 600px) {
  .bio-description {
    font-size: 20px;
    /* Slightly smaller font size for mobile */
    line-height: 1.4;
    /* Improved line height for readability */
    margin: 10px 5px;
    /* Adjust margins for mobile */
    padding: 10px;
    /* Add padding for better spacing */
    text-align: justify;
    /* Justify text for a cleaner look on mobile */
  }
}

/* Media query for mobile devices */
@media (max-width: 600px) {
  .card-content {
    padding: 10px;
    /* Add padding for better spacing on mobile */
  }

  .resume-wrap {
    margin-bottom: 10px;
    /* Reduce margin between each resume section on mobile */
  }

}





.profile-container {
  text-align: center;
  margin-top: 15vh;
  overflow-y: auto;
}


.profile-pic {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-bottom: 10px;
  border: 2px solid;
  color: #fdfdfd;
  box-shadow: 7px 1px 7px paleturquoise; //amazing shadow
}

.profile-container::before {
  content: "";
  background-color: #ffff;
  position: absolute;
  display: block;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  z-index: -1;
  animation: 3.2s animation linearinfinite alternate;
}



.designation {
  // font-size: 24px;
  // // color: #8f8d8d;
  // margin-bottom: 20px;
  // background: var(--Title-Gradient, linear-gradient(90deg, #239982 -1.88%, #6d64d3 104.56%));
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 110%;
  background: var(--Title-Gradient, linear-gradient(90deg, #239982 -1.88%, #6d64d3 104.56%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: 0.5rem;
}

///
/* Styling for the action buttons */
.action-button {
  background: #ffbd39;
  border: 1px solid #ffbd39 !important;
  color: #000000 !important;
  cursor: pointer;
  transition: all .35s cubic-bezier(.1, 0, 0, 1) !important;
  border-radius: 30px;
  box-shadow: 10px 7px 20px rgb(133, 164, 71);
  // box-shadow: 0px 24px 36px -11px rgba(0, 0, 0, 0.09);
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 600;
  padding-left: 1.5rem !important;
  padding-bottom: 1rem !important;
  padding-top: 1rem !important;
  padding-right: 1.5rem !important;
  margin-left: 1rem !important;
  // transition: ease-out 0.6s;

}

/* Hover animation */
.action-button:hover {

  color: black;
  text-shadow: none;
  box-shadow: inset 0 -80px 0 0 #f9b836;

}

/* Active effect */
.action-button:active {
  transform: scale(0.95);
  /* Shrink button slightly when clicked */
}

@media (max-width: 600px) {
  .action-button {
    width: 50%;
    font-size: 14px;
    padding: 15px 10px;
    margin: 5px 0;
  }
}

.card-content {
  display: flex;
  justify-content: center;
  text-align: left;

}


.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.big-4 {
  font-size: 28px;
  margin: 0 auto;
  transform: scaleX(1.2);
  margin-top: 10vh;
  background: var(--Title-Gradient, linear-gradient(90deg, #239982 -1.88%, #6d64d3 104.56%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.underline {
  width: 100%;
  height: 4px;
  background-image: linear-gradient(to right, rgb(255, 255, 255) 0%, rgb(244, 244, 125) 20%, rgb(238, 238, 36) 50%, #ffbd39 100%);
  margin-top: 5px;
  opacity: 50%;
}

/* Media query for mobile devices */
@media (max-width: 600px) {
  .underline {
    width: 80%;
    /* Adjust the width for mobile devices */
    height: 3px;
    /* Adjust the height for mobile devices */
    margin: 10px auto;
    /* Center the underline with auto left and right margins */
  }
}


.resume-wrap {
  width: 100%;
  // margin-bottom: 48px;
  background: rgb(255 247 247 / 10%);
  padding: 5vh;
  // -webkit-border-radius: 33px;
  // -moz-border-radius: 5px;
  // -ms-border-radius: 5px;
  border-radius: 24px;
  margin: 5vh;
}


.resume-wrap .position {
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: var(--skills_text_color, #56b6d4);
}


p {
  text-align: left;
  font-family: "Poppins", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.8;
  font-weight: 400;
  color: #999999;
  // visibility: hidden;
  box-sizing: border-box;
  margin-bottom: 1rem;
  margin-top: 1.5rem !important;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  unicode-bidi: isolate;
  font-family: __Bai_Jamjuree_2d2b04, __Bai_Jamjuree_Fallback_2d2b04;
  font-style: normal;
  color: var(--Title-Gradient, #a0a471);



}




.heading-section {
  position: relative;
}


.Experience_active__BfpVO {
  display: inline-block;
  padding: 15px 20px;
}



/* Media query for mobile devices */
@media (max-width: 600px) {
  .bio-container {
    padding: 20px 0;
  }

  .bio-heading {
    font-size: 24px;
  }

  .bio-description {
    font-size: 16px;
    line-height: 1.4;
    margin: 10px 5px;
    padding: 10px;
    text-align: justify;
  }

  .designation {
    font-size: 16px;
  }

  // .action-button {
  //   width: 80%;
  //   font-size: 14px;
  //   padding: 15px 10px;
  //   margin: 5px 0;
  // }

  .card-content {
    flex-direction: column;
    align-items: center;
    padding: 35px;

  }

  .resume-wrap {
    margin: 10px 0;
    padding: 10px;
  }

  .big-4 {
    font-size: 24px;
  }
}